root = true

[*.{cpp,h,hlsl,hlsli}]
charset = utf-8

[*]
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
charset = utf-8

[*.{hpp,hxx,ixx,inl}]
charset = utf-8
indent_size = 4
tab_width = 4

[*.{json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
